
/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

fieldset {
	border: 0
}

a img {
	border: 0;
}

.clear {
	clear: both;
}

/* General Styling and Structure
--------------------------------------------------------------------------------*/

body {
	background: url(bodybg.jpg);
	font-family: Trebuchet MS, arial, sans-serif;
	font-size: 12px;
	color: #273b4a;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	color: #4984c9;
	text-decoration: none;
}

a:hover {
	color: #84afe1;
	text-decoration: none;
}

p {
	line-height: 1.5;
	color: #273b4a;
	font-size: 13px;
	padding: .5em 0;
}

h1 {
	font-size: 24px;
	color: #273b4a;
	padding: .5em 0 .2em 0;
}

h2 {
	font-size: 20px;
	color: #273b4a;
	padding: .5em 0 .2em 0;
}

#wrapper {
	padding: 0 0 33px 0;
	background: url(lki.jpg) center repeat-y;
}

#container {
	width: 960px;
	margin: 0 auto;
}

.splash-page #container {
	width: 600px;
	margin: 0 auto;
}

#header,
#header a {
	color: #4984c9;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#header a:hover {
	color: #84afe1;
}

#logo,
#logo a {
	color: #fff;
	font-size: 30px;
}

#banner {
	width: 960px;
	margin: 0 0 9px 0;
}

#content {
	width: 914px;
	height: auto !important;
	min-height: 400px;
	background: #efe8dc;
	border-bottom: 1px solid #cecece;
	padding: 20px 23px 20px 23px;
}

#banner a {
	color: #84afe1;
}

#banner a:hover {
	color: #4984c9;
}

#content a:hover {
	color: #569def;
}

/* Navigation
--------------------------------------------------------------------------------*/

#navigation {
	position: relative;
	width: 960px;
	height: 47px;
	z-index: 2;
	margin: 0 0 0 0;
	background: url(navigationbg.jpg) top repeat-x;
}

#navigation li {
	float: left;
	z-index: 2;
}

#navigation li a {
	position: relative;
	display: block;
	height: 28px;
	color: #fff;
	float: left;
	z-index: 2;
	padding: 10px 18px 0 18px;
	font-size: 14px;
	text-decoration: none;
}

#navigation li a:hover,
#navigation li#active a {
	color: #0c1b2c;
	background: #6a95c7;
	text-decoration: none;
}

/* Navigation Drop-Down Menu Customization
--------------------------------------------------------------------------------*/

#wsite-menus .wsite-menu li a {
	background: #6A96C7;
	border-top: none;
	border-bottom: 1px solid #7BA1CE;
	border-right: none;
	border-left: none;
	padding: 17px 8px 17px 12px;
	color: #fff;
}

#wsite-menus .wsite-menu li a:hover {
	background: #335E93;
	color: #fff;
}

/* Header Area
----------------------------------------------------------------------------*/

#header {
	width: 100%;
	height: 100px;
}

#header,
#header table {
	border-collapse: collapse;
	border-spacing: 0;
}

#header td {
	vertical-align: middle;
	text-align: left;
}

#logo {
	padding: 25px 0 25px 23px;
}

#header-right {
	padding: 0 23px 0 10px;
}

#header-right table {
	float: right;
	width: 1px;
}

#header-right td {
	padding: 0;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/

#header-right .phone-number .wsite-text {
	color: #fff;
	font-size: 14px;
	font-family: Trebuchet MS;
	text-decoration: none;
	display: block;
	white-space: nowrap;
	margin: 0 0 0 15px;
}

/* TOP RIGHT: Content Area
--------------------------------------------------------------------------------*/

#header-right .wsite-social {
	vertical-align: middle;
	margin: 0 0 0 12px;
}

#header-right .wsite-social-item {
	width: 23px;
	height: 23px;
	margin: 0 0 0 3px;
}

#header-right .wsite-social-rss {
	background: url(rss.png) no-repeat;
}

#header-right .wsite-social-linkedin {
	background: url(link.png) no-repeat;
}

#header-right .wsite-social-facebook {
	background: url(facebook.png) no-repeat;
}

#header-right .wsite-social-twitter {
	background: url(twitter.png) no-repeat;
}

/* TOP RIGHT: Search Box
--------------------------------------------------------------------------------*/

#header-right .wsite-search {
	vertical-align: middle;
	margin: 0 0 0 15px;
}

#header-right .wsite-search-input {
	width: 157px;
	height: 16px;
	border: none;
	padding: 3px 7px 5px 7px;
	color: #273b4a;
	font-size: 12px;
	background: url(input-bg.png) no-repeat;
	position: absolute;
	top: 50px;
	right: 25px; 
}

#header-right .wsite-search-button {
	position: absolute;
	top: 50px;
	right: -11px;
	width: 36px;
	height: 27px;
	border: none;
	margin: 0;
	padding: 0;
	background: url(search.png) no-repeat;
}

/* Footer
--------------------------------------------------------------------------------*/
#main-footer-wrap {
	background: repeat-x center top;
	width:100%;
	text-align:left; 
}
#footer-wrap {
	text-align:right;
	background:repeat bottom left;
}
#footer-wrap .container {
	padding-top: 96px;
	padding-bottom: 90px;
	color: #ad9c96;
}

#footer-wrap .container h2 {
	background: url(footer-divider-blue.gif) repeat-x bottom left;
	padding-bottom: 15px;
	margin-bottom:5px;
	margin-top: 10px;
	color: #ad9c96;
}

#footer-container
{
margin-bottom: 15px;
margin-top: -2.0em;
text-align:center;
color:#000000;
width:100%;
height: 30px;
background= url(footer-cont.jpg);
}

#footer-wrap  a{
	color: #fffffff;
}

#footer-wrap  a:hover{
	color: #000000;
}


#footer-wrap .wsite-form-container {
	text-align:left;
}

.wsite-form-container .wsite-form-input {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:25px;
	color: #000000;
	background:none;
	background-color: rgba(0, 0, 0, .2);
	border: none;
	padding: 4px;
	width: 334px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius:6px ;
	-webkit-box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, .1);
	box-shadow: inset 6px 6px 6px 0px rgba(0, 0, 0, .1);
}

/* PAGE TYPE: tall-header
--------------------------------------------------------------------------------*/

.tall-header-page .wsite-header {  /* the user-editable image */
	width: 960px;
	height: 270px;
	background: url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: short-header
--------------------------------------------------------------------------------*/

.short-header-page .wsite-header {  /* the user-editable image */
	width: 960px;
	height: 150px;
	background: url(banner-short.jpg) no-repeat;
}

/* PAGE TYPE: landing
--------------------------------------------------------------------------------*/

#banner-left {
	float: left;
	width: 509px;
	height: 310px;
	padding: 0 35px 0 0;
}

.landing-page .wsite-header {
	width: 509px;
	height: 310px;
	background: url(banner-landing.jpg) no-repeat;
}

#banner-right {
	float: left;
	width: 390px;
	padding: 57px 0 0 0;
}

#banner-right h2 {
	color: #fff;
	font-size: 30px;
	padding: 0 0 0 0;
}

#banner-right p {
	color: #fff;
	font-size: 16px;
	padding: 6px 0 30px 0;
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page #header-right {
	padding: 0;
	margin: 0;
}

.splash-page #content {
	width: 554px;
	padding: 20px 23px 20px 23px;
}

.splash-page .title {
	width: 600px;
	padding: 0;
}

.splash-page #wrapper {
	width: 642px;
	margin: 0 auto;
	padding: 0 0 33px 42px;
}

.splash-page #footer {
	width: 550px;
	padding: 10px 25px 10px 25px;
}

.splash-page .wsite-header {
	width: 600px;
	height: 150px;
	border: none;
	padding: 5px 0 0 0;
	background: url(banner-splash.jpg) no-repeat;
}

/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
	display: inline-block;
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 0 3px 0;
}

.form-radio-container {
	color: #656565;
	font-size: 12px;
}

.wsite-form-input {
	background: #fefefe url(form-inputbg.gif) top repeat-x;
	color: #656565;
	border: 1px solid #D2D2D2;
	margin-bottom: 5px;
	padding: 5px;
}

.form-select {
	width: 380px;
	background: #fefefe;
	color: #656565;
	border: 1px solid #D2D2D2;
}

/* Buttons
--------------------------------------------------------------------------------*/

/*
  Buttons are styled with background image sprites. There are 4 unique image files:
   - small & normal-colored  (button_small_grey.png)
   - large & normal-colored  (button_large_grey.png)
   - small & highlight-colored  (button_small_orange.png)
   - large & highlight-colored  (button_large_orange.png)

  Each of these 4 types of buttons must define a :hover state (when user's mouse is over)
  as well as an :active state (when the user presses down).

  Look at the CSS (especially the inner .wsite-button-inner wrapper), as well as the
  image files to understand how the liquid-width nature of these buttons work.
 */

/* small */

.wsite-button {
	color: #fff !important;
	height: 34px;
	display: inline-block;
	font-size: 14px;
	border: none;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 10px 0 0;
	background: url(button_small_blue.png) no-repeat 100% -105px;
}

.wsite-button:hover {
	background-position: 100% -140px;
}

.wsite-button:active {
	background-position: 100% -175px;
}

.wsite-button-inner {
	color: #fff !important;
	height: 34px;
	line-height: 34px;
	display: block;
	font-size: 14px;
	font-weight: bold;
	border: none;
	text-decoration: none;
	padding: 0 10px 0 20px;
	background: url(button_small_blue.png) no-repeat 0 0;
}

.wsite-button:hover .wsite-button-inner {
	background-position: 0 -35px;
}

.wsite-button:active .wsite-button-inner {
	background-position: 0 -70px;
}

/* large */

.wsite-button-large {
	color: #fff !important;
	height: 41px;
	background: url(button_large_blue.png) no-repeat 100% -126px;
	padding: 0 10px 0 0;
}

.wsite-button-large:hover {
	background-position: 100% -168px;
}

.wsite-button-large:active {
	background-position: 100% -210px;
}

.wsite-button-large .wsite-button-inner {
	color: #fff !important;
	height: 40px;
	line-height: 41px;
	padding: 1px 10px 0 20px;
	background: url(button_large_blue.png) no-repeat 0 0;
}

.wsite-button-large:hover .wsite-button-inner {
	background-position: 0 -42px;
}

.wsite-button-large:active .wsite-button-inner {
	background-position: 0 -84px;
}

/* highlight */

/*
Making the highlighted versions of the buttons is easy because we just need
to switch out the background images. This works because the different button
states (normal, :hover, :active) have their sprite coordinates in the same places.
*/

.wsite-button-large.wsite-button-highlight {
	color: #38302a !important;
	background-image: url(button_large_tan.png);
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
	color: #38302a !important;
	background-image: url(button_large_tan.png);
}

.wsite-button-highlight {
	color: #38302a !important;
	background-image: url(button_small_tan.png);
}

.wsite-button-highlight .wsite-button-inner {
	color: #38302a !important;
	background-image: url(button_small_tan.png);
}
